<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Editar Horarios de Cajas{% endblock %}
{% block content %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Horarios de Cajas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Editar Horarios de Caja</h2>
        <p>{{ mensaje }}</p>
    </div>
</body>
</html>
{% endblock %}
