<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Editar Sucursal{% endblock %}
{% block content %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Sucursal</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'agregar_sucursal.css' %}">
</head>
<body>
    <div class="container">
        <i class="fas fa-pencil-alt icon"></i> <!-- Ícono de edición -->
        <h2>Editar Sucursal</h2>
        <form id="sucursalForm" action="{% url 'editar_sucursal' sucursal.sucursalid %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" value="{{ sucursal.nombre }}" required>
            </div>
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" id="direccion" name="direccion" value="{{ sucursal.direccion }}" required>
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="text" id="telefono" name="telefono" value="{{ sucursal.telefono }}" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar">
            </div>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>
</body>
</html>
{% endblock %}

