<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Sucursales</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'listar_sucursales.css' %}">
</head>
<body>
    <div class="container">
        <h2>Listar Sucursales</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for sucursal in sucursales %}
                <tr>
                    <td>{{ sucursal.sucursalid }}</td>
                    <td>{{ sucursal.nombre }}</td>
                    <td>{{ sucursal.direccion }}</td>
                    <td>{{ sucursal.telefono }}</td>
                    <td>
                        <a href="{% url 'editar_sucursal' sucursal.id %}">Editar</a>
                        <a href="{% url 'eliminar_sucursal' sucursal.id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar esta sucursal?');">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
