@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(to bottom right, #ADD8E6, #005091);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* DataTables Styling */
table.display {
    width: 100%;
    border-collapse: collapse;
}

table.display thead {
    background-color: #007bff;
    color: #fff;
}

table.display thead th {
    padding: 10px;
    text-align: left;
}

table.display tbody tr {
    border-bottom: 1px solid #ddd;
}

table.display tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.display tbody td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

/* Column de Acciones */
.actions-cell {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.btn-container {
    display: flex;
    gap: 10px;
}

/* Botón Styles */
.btn {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.editar {
    background-color: #ffc107;
    color: #fff;
    font-size: 15px;
}

.btn.borrar {
    background-color: #dc3545;
    color: #fff;
    font-size: 15px;
}

/* Mensajes globales */
.messages {
    margin-bottom: 20px;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-error {
    background-color: #f2dede;
    color: #a94442;
}

/* Responsividad */
@media (min-width: 769px) {
    table.display tbody td:nth-child(1) {
        width: 35%;
    }
    table.display tbody td:nth-child(2) {
        width: 55%;
    }
    table.display tbody td:nth-child(3) {
        width: 100px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    table.display thead {
        display: none;
    }
    table.display tbody tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    table.display tbody td {
        display: block;
        text-align: left;
        padding-left: 10px;
        position: relative;
        border-bottom: 1px solid #ddd;
    }
    table.display tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }
    .actions-cell {
        width: auto;
        flex-direction: column;
    }
}
