@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #ADD8E6, #005091);
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    color: white;
    overflow: auto;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(20px);
    z-index: -1;
    pointer-events: none; /* Ensure no interaction with this element */
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.container h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.icon {
    font-size: 90px;
    margin-bottom: 5px;
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: bold;
}

.form-group input[type="text"], .form-group select {
    width: calc(100% - 16px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f8ff;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.form-group input[type="text"]:hover, .form-group select:hover {
    background-color: #e0e8ff;
    border-color: #aaa;
}

.btn-agregar-categoria {
    background-color: #003366;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 12px;
    text-align: center;
    width: 100%;
    max-width: 150px;
    font-size: 18px;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    margin-top: 35px;
    margin-bottom: -20px;
}

.btn-agregar-categoria:hover {
    background-color: #002244;
}

.alert {
    padding: 15px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-top: 50px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 50px;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    .icon {
        font-size: 60px;
    }

    .container h2 {
        font-size: 24px;
    }

    .form-group input {
        padding: 8px;
        font-size: 14px;
    }

    .form-group input[type="submit"] {
        padding: 10px;
        font-size: 16px;
    }
}
