@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #ADD8E6, #005091);
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    color: white;
    overflow: hidden;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    position: relative;
}

.container h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.icon {
    font-size: 90px;
    margin-bottom: 5px;
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: bold;
}

.form-group input, .form-group select {
    width: calc(100% - 16px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f8ff;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.form-group select {
    width: calc(105.2% - 16px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f8ff;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.form-group input:hover, .form-group select:hover {
    background-color: #e0e8ff;
    border-color: #aaa;
}

.form-group input[type="submit"] {
    background-color: #3b5998;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 12px;
    text-align: center;
    width: 30%;
    margin-top: 40px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
    background-color: #2b467d;
}

.alert {
    padding: 15px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
