@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #ADD8E6, #005091);
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    color: white;
    overflow: hidden;
}

.container-usuario {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    position: relative;
}

.container-usuario h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.icon-usuario {
    font-size: 90px;
    margin-bottom: 5px;
    color: #ffffff;
}

.form-group-usuario {
    margin-bottom: 20px;
    text-align: left;
}

.form-group-usuario label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: bold;
}

.form-group-usuario input,
.form-group-usuario select {
    width: calc(100% - 16px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f8ff;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.input-container {
    position: relative;
}

.input-container input {
    width: calc(98.5% - 40px); /* Ajustar el ancho para dejar espacio para el ícono */
    padding-right: 40px; /* Espacio para el ícono */
}

.input-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #3b5998; /* Cambiar color del icono */
}

.form-group-usuario select {
    width: 101.4%; /* Ajustar el ancho del select */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f8ff;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.form-group-usuario input:hover,
.form-group-usuario select:hover {
    background-color: #e0e8ff;
    border-color: #aaa;
}

/* Estilo para el botón de guardar cambios */
.btn-guardar-usuario {
    background-color: #3b5998;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 12px;
    text-align: center;
    width: 45%; /* Ajusta el ancho del botón */
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 20px auto 0; /* Centrando el botón */
    display: block; /* Asegura que el botón se comporte como un bloque y pueda ser centrado */
}

.btn-guardar-usuario:hover {
    background-color: #2b467d;
}

.alert {
    padding: 15px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-bottom: 20px;
}
