@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #ADD8E6, #005091);
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    color: white;
    overflow: auto;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

h1, h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    color: #ffffff;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f8ff;
    color: #333;
}

.form-group input:hover,
.form-group select:hover {
    background-color: #e0e8ff;
    border-color: #aaa;
}

#buscar-detalles {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f8ff;
    color: #333;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: white;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #333;
}

.table th {
    background-color: #3b5998;
    font-weight: bold;
    color: #ffffff;
}

.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #ff4c4c;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.btn-danger i {
    margin-right: 0;
}

.btn-danger:hover {
    background-color: #e60000;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    margin-bottom: 15px;
    margin-top: -10px;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.btn-escanear {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #3b5998;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-escanear:hover {
    background-color: #2b467d;
}

#interactive.viewport {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
    background: #f0f8ff;
    margin-top: 20px;
    display: none; /* Ocultar inicialmente */
}

h3 {
    text-align: center;
    margin-top: 20px;
}

#total {
    font-weight: bold;
    color: #447244;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .form-group input,
    .form-group select {
        width: 100%;
    }

    .alert {
        padding: 10px;
    }
}
